@import 'variables';

.modal_bg {
   top: 0;
   left: 0;
   z-index: 99;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #00000070;
}

.modal_window {
   left: 50%;
   top: 50%;
   z-index: 100;
   transform: translate(-50%, -50%);
   position: fixed;
   width: 500px;
   height: 300px;
   color: $black;
   background-color: tomato;
   box-shadow: 8px 8px $black;

   &__content {
      display: grid;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 50px;
   }

   &__txt {
      font-size: 25px;
      font-weight: 700;
      text-align: center;
   }

   &__buttons {
      margin: 0 auto;
   }
}
